body{
   background-color: black;
}
.header{
    text-align: center;
    font-size: 50px;
    font-family: 'Bowlby One SC', cursive;
    color: rgb(255,165,0);
    margin-top: 2%; 
}

#app{
    width: 50%;
    height: 550px;
    margin: 0 auto;
    margin-top: 2%;
    border: 3px solid rgb(203, 105, 189) ;
    border-radius: 50px;
    display: flex;
   

}

.main-content{
    margin: 0 auto;
}

.form-style{
    padding-top: 3%;
 
}
 /******************************  */
.list-item{
    text-decoration: none;
    color: white;
    overflow-y: scroll;
    max-height: 480px;
    width: 100%;
}

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
    width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: rgb(182,141, 252);
	border: 2px solid #555555;
}

.delete{
    text-decoration: none;
    float: right;
    color:rgb(255,165,0); 
    margin-left: 3%;
}
.delete:hover{
    color: rgb(182,141, 252);
}

.edit-button{
    float: right;
    color:rgb(255,165,0); 
    text-decoration: none;
}
.edit-button:hover{
    color: rgb(182,141, 252);
}

#list-todo{
    margin-top: 1%;
    font-size: 25px;
    list-style-type: none;
    text-align: left;
    margin-right: 16%;
}
/* ************************* */

.color-button{
    color:  rgb(255,165,0);
    border: 1px solid  rgb(255,165,0);
}

.color-button:hover{
    background-color: black;
    color:  rgb(147, 96, 1);
    border: 1px solid  rgb(255,165,0); 
}
